/* form{
    border: 1px solid rebeccapurple;
    width: 30%;
    height: 100px;
    text-align: center;
    background-color: rgb(46, 14, 78);
    color: #ffff00;
} */
button {
    color: red;
    background-color:yellow;
    width: 10%;
    height: 20px;
}
.abc{
    border: 1px solid rebeccapurple;
    width: 60%;
    height: 220px;
    background-color:rgb(24, 4, 4);
    color: yellow;
    text-align: center;
}
input{
    width: 20%;
    height: 20px;

}
button:hover{
    color: rgb(24, 9, 9);
    background-color:rgb(209, 209, 43);
}